
<div class="table" style="width: 100vw; background-color: #000; height: 17vh;"  >
    <br>
    <footer class="footer">
        <div class="container bottom_border" >
            <div class="row">

                <div class="col"  >
                    <h6 class="" style="color: #fff">
                        About Us</h6>
                    <!-- <ul className="first">
                        <li><a>Contact Us</a></li>
                        <li><a>About Us</a></li>
                        <li><a>Track Bus</a></li>

                    </ul> -->
                </div>


                <div class="col">
                    <h6 class=""style="color: #fff"><span>&#169;</span>Copyright</h6>
                    <!-- <ul class="second">
                        <li><a>Terms & conditions</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>FAQ</a></li>
                        
                    </ul> -->
                </div>


                <div class="col">
                    <h6 class=""style="color: #fff">Contact Us</h6>
                    <!-- <ul class="third">
                        <li><a>India</a></li>
                        <li><a>Singapore</a></li>
                        <li><a>Malaysia</a></li>
                        
                    </ul> -->
                </div>

                <!-- <div class="col-md-3"> -->
                    <!-- <h6 class="headin5_amrc col_white_amrc pt2" style="color: #fff">Bus LOGO</h6>
                    <p>This Bus is the world's largest online bus ticket booking service</p> -->
                <!-- </div> -->
            </div>
        </div>
    </footer>
</div>