<div class="container h-100" style="height:100vh;margin-top:150p"> 
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px; width: 80%; margin-top: 50px;
        " >
                <div class="card-body p-md-5" style="background-color:#E8E8E8; height: 65vh; width: auto;" >
                    <form class="mx-1 mx-md-4"  (ngSubmit)="onSubmit(val)">
                    <!-- <div formControlName="seatno"> -->
                    <div class="row justify-content-center" style="margin-bottom:30px;width: 100%">
                        <div class="col order-lg-1">
                            <button id =24 (click)="onSubmit(24)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;"  >24</button>
                        </div>
                        <div class="col order-lg-1">
                            <button id =20 (click)="onSubmit(20)"  style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;" >20</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =16 (click)="onSubmit(16)"  style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">16</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =12 (click)="onSubmit(12)"  style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">12</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =8 (click)="onSubmit(8)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">8</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =4 (click)="onSubmit(4)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">4</button>
                        </div>
                        <div class="col order-lg-1">
                           
                        </div>
                        <!-- <div class="Driver" style="height: 50px; width: 70px; margin-left:87vw; margin-top: 10px; border: 10px;">Driver</div> -->
                        
                        
                    </div>
                    <div class="row justify-content-center" style="margin-bottom:30px;width: 100%">
                        <div class="col order-lg-1">
                            <button id =23 (click)="onSubmit(23)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">23</button>
                        </div>
                        <div class="col order-lg-1">
                            <button id =19 (click)="onSubmit(19)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;"> 19</button>
                        </div>
                        <div class="col order-lg-1">
                            <button id =15 (click)="onSubmit(15)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">15</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =11 (click)="onSubmit(11)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">11</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =7 (click)="onSubmit(7)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">7</button>
                        </div>

                        
                        <div class="col order-lg-1">
                            <button id =3 (click)="onSubmit(3)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">3</button>
                        </div>   
                        
                        <div class="col order-lg-1">
                          
                        </div>
                    </div>
                    <div class="row justify-content-center" style="margin-top:100px;width: 100%">
                        <div class="col order-lg-1">
                            <button id =22 (click)="onSubmit(22)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">22</button>
                        </div>
                        <div class="col order-lg-1">
                            <button id =18 (click)="onSubmit(18)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">18</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =14 (click)="onSubmit(14)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">14</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =10 (click)="onSubmit(10)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">10</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =6 (click)="onSubmit(6)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">6</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =2 (click)="onSubmit(2)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">2</button>
                        </div>   
                        <div class="col order-lg-1">
                            
                        </div> 

                    </div>
                    <div>
                    <div class="row justify-content-center" style="margin-top:30px;width: 100%">
                        <div class="col order-lg-1">
                            <button id =21 (click)="onSubmit(21)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">21</button>
                        </div>
                        <div class="col order-lg-1">
                            <button id =17 (click)="onSubmit(17)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">17</button>
                        </div>
                        <div class="col order-lg-1">
                            <button id =13 (click)="onSubmit(13)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">13</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =9 (click)="onSubmit(9)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">9</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button id =5 (click)="onSubmit(5)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;">5</button>
                        </div>
                        
                        <div class="col order-lg-1">
                            <button id =1 (click)="onSubmit(1)" style="background-color:#fff; height: 60px; width: 60px; border-radius: 15px;" >1</button>
                         
                                                
                        </div>
                        <div class="col order-lg-1" style=" height: 70px; width: 100px; transform: rotate(270deg);">

                           <img src="../assets/images/steering1.png" alt="">
                        </div>  
                       
                        </div>
                       
                    </div>            
                 
                <!-- </div> -->
                    </form>  
                 
                    </div>
</div>
</div>
</div>
</div>  